node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
/components
/image
/pages
/snippets
.npmrc
package-lock.json
package.json
vercel.json
.vercel
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
netlify.toml
.netlify
.netlify.toml
.netlify.toml.local
.netlify.toml.production.local
.netlify.toml.test.local
.netlify.toml.development.local
.netlify.toml.production.local
.netlify.toml.test.local
.netlify.toml.development.local